@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('assets/css/tailwind/output.css');

body {
    font-family: 'Archivo', sans-serif;
}



/* Hero Slider */
.hero-slider-item {
    background-color: #042E63;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}


.hero-slider-item:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #042E63;
    opacity: 0.7;
    z-index: -1;
}


ul.slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

ul.slick-dots li {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255, 0.3);
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

ul.slick-dots li button {
    display: none;
}

ul.slick-dots li.slick-active {
    background: rgba(255,255,255, 1);
}

ul.slick-dots li:hover {
    background: rgba(255,255,255, 1);
}

.arrow-btn:hover {
    background: #fff;
}

.arrow-btn:hover svg {
    color: #000;
}

.slick-slide {
    height: auto;
}
